models:
- hf_model_id: amd/Llama-3.2-1B-Instruct-FP8-KV
  tensor_parallel_size: 1
  batch_sizes:
  - 1
  quantization: null
  output_lengths:
  - 256
  dtype: float16
  trust_remote_code: false
  container_name: vllm-inference
  input_lengths:
  - 256
