models:
- hf_model_id: zai-org/GLM-4.5-Air
  tensor_parallel_size: 4
  batch_sizes:
  - 1
  - 8
  - 16
  quantization: null
  output_lengths:
  - 256
  - 512
  dtype: float16
  container_name: vllm-inference
  input_lengths:
  - 256
  - 512
  - 1024
