models:
- hf_model_id: zai-org/GLM-4.5-Air
  tensor_parallel_size: 2
  batch_sizes:
  - 1
  - 8
  quantization: null
  output_lengths:
  - 512
  dtype: bfloat16
  container_name: vllm-inference
  input_lengths:
  - 1024
- hf_model_id: zai-org/GLM-4.5-Air
  tensor_parallel_size: 8
  batch_sizes:
  - 1
  - 8
  quantization: null
  output_lengths:
  - 512
  dtype: bfloat16
  container_name: vllm-inference
  input_lengths:
  - 1024
