models:
- hf_model_id: meta-llama/Llama-2-13b-hf
  tensor_parallel_size: 1
  batch_sizes:
  - 1
  - 8
  quantization: null
  output_lengths:
  - 512
  dtype: float16
  container_name: vllm-inference
  input_lengths:
  - 1024
- hf_model_id: meta-llama/Llama-2-13b-hf
  tensor_parallel_size: 2
  batch_sizes:
  - 1
  - 8
  quantization: null
  output_lengths:
  - 512
  dtype: float16
  container_name: vllm-inference
  input_lengths:
  - 1024
- hf_model_id: meta-llama/Llama-2-13b-hf
  tensor_parallel_size: 4
  batch_sizes:
  - 1
  - 8
  quantization: null
  output_lengths:
  - 512
  dtype: float16
  container_name: vllm-inference
  input_lengths:
  - 1024
- hf_model_id: meta-llama/Llama-2-13b-hf
  tensor_parallel_size: 8
  batch_sizes:
  - 1
  - 8
  quantization: null
  output_lengths:
  - 512
  dtype: float16
  container_name: vllm-inference
  input_lengths:
  - 1024
- hf_model_id: meta-llama/Llama-2-70b-hf
  tensor_parallel_size: 2
  batch_sizes:
  - 1
  - 4
  - 8
  quantization: null
  output_lengths:
  - 512
  dtype: float16
  container_name: vllm-inference
  input_lengths:
  - 1024
- hf_model_id: meta-llama/Llama-2-70b-hf
  tensor_parallel_size: 4
  batch_sizes:
  - 1
  - 4
  - 8
  quantization: null
  output_lengths:
  - 512
  dtype: float16
  container_name: vllm-inference
  input_lengths:
  - 1024
- hf_model_id: meta-llama/Llama-2-70b-hf
  tensor_parallel_size: 8
  batch_sizes:
  - 1
  - 4
  - 8
  quantization: null
  output_lengths:
  - 512
  dtype: float16
  container_name: vllm-inference
  input_lengths:
  - 1024
- hf_model_id: zai-org/GLM-4.5-Air
  tensor_parallel_size: 2
  batch_sizes:
  - 1
  - 8
  quantization: null
  output_lengths:
  - 512
  dtype: bfloat16
  container_name: vllm-inference
  input_lengths:
  - 1024
- hf_model_id: zai-org/GLM-4.5-Air
  tensor_parallel_size: 8
  batch_sizes:
  - 1
  - 8
  quantization: null
  output_lengths:
  - 512
  dtype: bfloat16
  container_name: vllm-inference
  input_lengths:
  - 1024
