models:
- hf_model_id: zai-org/GLM-4.5-Air
  tensor_parallel_size: 4
  batch_sizes:
  - 1
  - 8
  quantization: null
  output_lengths:
  - 512
  dtype: bfloat16
  trust_remote_code: false
  container_name: vllm-inference
  input_lengths:
  - 512
- hf_model_id: amd/Llama-3.2-1B-Instruct-FP8-KV
  tensor_parallel_size: 1
  batch_sizes:
  - 1
  - 8
  - 16
  quantization: null
  output_lengths:
  - 512
  kv_cache_dtype: fp8
  dtype: float16
  trust_remote_code: false
  container_name: vllm-inference
  input_lengths:
  - 512
  - 1024
- hf_model_id: amd/Llama-3.1-8B-Instruct-FP8-KV
  tensor_parallel_size: 1
  batch_sizes:
  - 1
  - 8
  quantization: null
  output_lengths:
  - 512
  kv_cache_dtype: fp8
  dtype: float16
  trust_remote_code: false
  container_name: vllm-inference
  input_lengths:
  - 512
- hf_model_id: Qwen/Qwen3-8B
  tensor_parallel_size: 1
  batch_sizes:
  - 1
  - 8
  quantization: null
  output_lengths:
  - 512
  dtype: float16
  trust_remote_code: false
  container_name: vllm-inference
  input_lengths:
  - 512
- hf_model_id: moonshotai/Kimi-K2-Instruct-0905
  tensor_parallel_size: 4
  batch_sizes:
  - 1
  - 4
  quantization: null
  output_lengths:
  - 512
  dtype: bfloat16
  trust_remote_code: true
  container_name: vllm-inference
  input_lengths:
  - 512
- hf_model_id: mistralai/Mistral-7B-Instruct-v0.2
  tensor_parallel_size: 1
  batch_sizes:
  - 1
  - 8
  quantization: null
  output_lengths:
  - 512
  dtype: float16
  trust_remote_code: false
  container_name: vllm-inference
  input_lengths:
  - 512
- hf_model_id: deepseek-ai/DeepSeek-R1-0528
  tensor_parallel_size: 2
  batch_sizes:
  - 1
  - 4
  - 8
  quantization: null
  output_lengths:
  - 512
  dtype: bfloat16
  trust_remote_code: true
  container_name: vllm-inference
  input_lengths:
  - 512
  - 1024
