models:
- hf_model_id: mistralai/Mistral-7B-Instruct-v0.2
  tensor_parallel_size: 1
  batch_sizes:
  - 1
  - 8
  quantization: null
  output_lengths:
  - 256
  dtype: float16
  container_name: vllm-inference
  input_lengths:
  - 256
  - 512
  - 1024
  - 2048
  - 4096
  - 8192
- hf_model_id: amd/Llama-3.1-8B-Instruct-FP8-KV
  tensor_parallel_size: 1
  batch_sizes:
  - 1
  - 8
  quantization: null
  output_lengths:
  - 256
  kv_cache_dtype: fp8
  dtype: float16
  container_name: vllm-inference
  input_lengths:
  - 256
  - 512
  - 1024
  - 2048
  - 4096
- hf_model_id: Qwen/Qwen3-8B
  tensor_parallel_size: 1
  batch_sizes:
  - 1
  - 4
  quantization: null
  output_lengths:
  - 512
  dtype: float16
  container_name: vllm-inference
  input_lengths:
  - 512
  - 1024
  - 2048
  - 4096
