models:
- hf_model_id: amd/Llama-3.2-1B-Instruct-FP8-KV
  tensor_parallel_size: 1
  batch_sizes:
  - 1
  - 8
  quantization: null
  output_lengths:
  - 1024
  dtype: float16
  container_name: vllm-inference
  input_lengths:
  - 1024
